@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  color: white;
}

#App {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #ec4c8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  p {
    padding: 12px 0;
    color: white;
    font-size: 22px;
  }

  .home-icon {
    font-size: 25px;
    color: white;
    padding-left: 20px;
  }

  .setting {
    padding-right: 20px;
    font-size: 25px;
    color: white;
  }
}

.cards-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;

  .countries {
    background-color: pink;
    display: inline;
    padding: 20% 15px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.5s;
    color: black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.5s;
    }
  }
}

form {
  align-self: center;
}

#search {
  font-size: 20px;
  border-radius: 50px;
  outline: none;
  padding: 10px 18px;
  border: 1px solid #c2c2c2;
  opacity: 0.7;

  &::placeholder {
    color: #ec4c8a;
  }
}

.regional-data-items {
  display: flex;
  justify-content: space-between;
}

.country-item {
  width: 40%;
  border: 1px solid black;
  padding: 10px;
}

.country {
  display: flex;
  justify-content: center;
  background-color: #ec4c8a;
  // height: 92vh;
}

footer {
  background-color: pink;
}

@media (max-width: 885px) {
  .cards-main-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 655px) {
  .cards-main-container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
